.article > img {
    height:7.5rem;
}

.article > h3 {
    margin-bottom:.3rem;
    margin-top:-.2rem;
}

.article {
    padding:.5rem;
    background-color: #d3d3d366;
    min-width:fit-content;
    text-align: center;
    cursor:pointer;
}

.article:hover {
    background-color: #d3d3d3;
}

a {
    text-decoration: none;
    color:inherit;
}