/* .article > img {
    max-height:80%;
    max-width: 80%;
}

.article > h3 {
    margin-bottom:.3rem;
    margin-top:-.2rem;
}

.article {
    padding:1.5rem;
    background-color: #d3d3d366;
    text-align: center;
    cursor:pointer;
    width:70%;
    font-size:.8rem;
    margin:1rem;
}

.article:hover {
    background-color: #d3d3d3;
}

a {
    text-decoration: none;
    color:inherit;
} */