.article > img {
    max-height: 85%;
}

.article > h3 {
    margin-bottom:.3rem;
    margin-top:-.2rem;
}

.article {
    padding:.5rem;
    background-color: #d3d3d366;
    width:90%;
    height:30%;
    text-align: center;
    cursor:pointer;
}

.article:hover {
    background-color: #d3d3d3;
}

a {
    text-decoration: none;
    color:inherit;
}