.conex {
    text-align: center;
    margin-top:6rem;
    font-size: 1.3rem;
}

.conex > form {
    display:flex;
    flex-direction: column;
    gap:.3rem;
    white-space: nowrap;
    margin-top:1.5rem;
    width:fit-content;
    margin-left: 50%;
    transform:translateX(-50%);
}

.conex > .connection {
    margin-left: 50%;
    transform:translateX(-50%);
    width:fit-content;
}

.conex > .sub {
    margin-top:1rem;
}

.conex > form > div {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}

.conex .sub {
    background-color: #00B5BC;
    border:2px solid white;
    font-size: 1.3rem;
    color:white;
    padding:.5rem;
    border-radius: 10px;
    margin-top:10px;
}

.conex .sub:hover {
    color:#00B5BC;
    background-color: white;
    border:2px solid #00B5BC;
}

.conex .connection button {
    background: none;
    border:none;
    color:#00B5BC;
    border-bottom:2px solid white;
    padding:0;
}

.conex .connection button:hover {
    border-bottom:2px solid #00B5BC;
}