.header {
    width:100vw;
    height:4.5rem;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    color:white;
    padding-left:1.5rem;
}

.nav {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
    gap:3rem;
    margin-right:4rem;
    margin-left:3rem;
}

.title {
    margin-top:.9rem;
}

.header a {
    text-decoration: none;
    color:inherit;
}

.nav p {
    font-size: 2rem;
    font-weight: bold;
    margin-top:.5rem;
    padding:.3rem;
}

.nav p:hover {
    scale: 110%;
}