.filter {
    width:100%;
    padding:1.5rem;
}

.list {
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    margin:1rem 2rem;
    padding:0;
}

@media (max-width: 800px) {
    .list {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 550px) {
    .list {
        grid-template-columns: auto auto;
    }
}