.filter {
    width:100%;
    padding:1.5rem;
}

.list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
    max-width: 100rem;
}

@media (max-width: 800px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 400px) {
    .list {
        grid-template-columns: 1fr;
    }
}