.user {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user .left img {
    width:40%;
}

.role {
    display:flex;
    flex-direction: row;
    gap:.5rem;
    transform: translateY(50%);
}

.user .left .top {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modify {
    display:flex;
    flex-direction: row;
    height:fit-content;
}

.user .bottom {
    margin-left:20%;
}