.user {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user .left img {
    width:40%;
}

.role {
    display:flex;
    flex-direction: row;
    gap:.5rem;
    transform: translateY(50%);
}

.user .left .top {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modify {
    display:flex;
    flex-direction: row;
    height:fit-content;
    gap:.5rem;
    margin-bottom:2rem;
}

.user .bottom {
    margin-left:20%;
}

.pseudo {
    transform: translateX(-60px);
    margin-top:3.5rem;
}

.pseudo .bar {
    height:3px;
    background-color: black;
    width:20vw;
    transform: translateY(1rem);
}

.bar1 {
    width:2.5px;
    height:35px;
    background-color: black;
    position:absolute;
    top:0;
    left:0;
}

.bar2 {
    height:2.5px;
    width:100%;
    background-color: black;
    position: absolute;
    top:35px;
}

.user .ville,
.user .description {
    position: relative;
}

.user h3,
.user select {
    margin-left:5%;
    margin-bottom:3rem;
}

.user button {
    background-color: #00B5BC;
    border:2px solid white;
    font-size: 1.3rem;
    color:white;
    padding:.5rem;
    border-radius: 10px;
    margin-top:10px;
}

.user button:hover {
    scale: 110%;
}

.user h2, h3 {
    white-space: nowrap;
}

.cut {
    width:3px;
    height:75vh;
    background-color: black;
    margin-top:50px;
    margin-left:2rem;
    margin-right:2rem;
}

.user .bottom input {
    font-size: 1.1rem;
    transform: translateX(10px);
}

.user .bottom select {
    font-size: 1.1rem;
    transform: translateX(-10px);
}

.pseudo h2 {
    margin-bottom:0;
}

.user .pseudo input {
    font-size: 1.1rem;
}

@media (max-width:1140px) {
    .user {
        flex-direction: column;
    }
    .cut {
        display:none;
    }
}

.right {
    text-align: center;
}

.user .right {
    width:50%;
}